{% extends 'todo/base.html' %}

{% block content1 %}

<div class="container">
    <div class="row">
        <div class="col-11 col-sm-11">
            <div class="card card-login mx-auto mt-5">
               <div class="card-header card-srow">
                   <div class="time-row">
                       <time class="dt">{{ post.published_date }}</time>
                   </div>
                   <div class="title-row pdet">
                       <p class="title"><u>{{ post.title }}</u></p>
                   </div>
               </div>
               <div class="card-body">
                   <article class="text">
                       {{ post.text|linebreaksbr }}
                   </article>
               </div>
            </div>
        </div>
        <div class="opt col-1 col-sm-1">
            <div class="del-edit">
                <ul class="dot">
                    <li class="show"><button type="button" class="ansh btn btn-light"><i class="sham fas fa-ellipsis-v"></i></button></li>
                    <li class="hide"><a href="#"><button type="button" class="ansh btn btn-warning"><i class="sham fas fa-edit"></i></button></a></li>
                    <li class="hide"><button type="button" class="ansh btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter"><i class="sham fas fa-trash-alt"></i></button></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the post?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">NO</button>
            <a href="{% url 'delete_post' pk=post.pk %}"><button type="button" class="afrm btn btn-danger">YES</button></a>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
