{% extends 'todo/index.html' %}
{% load crispy_forms_tags %}
{% load materializecss %}

{% block content %}
<h1 class="text-center" style="margin-top: 30px;">TODO-LIST</h1>
<div class="container">
<div class="card card-login mx-auto mt-5">
   <div class="card-header" style="text-decoration: underline; font-size: 25px; font-weight: bolder">Register</div>
       <div class="card-body">
           <form method="POST">
               {% csrf_token %}
               {{ form|materializecss }}
               <button type="submit" class="btn btn-primary">Submit</button>
           </form>
       </div>
   </div>
</div>
<div class="container">
    <p class="footsy footer-heart text-center">Developed with <g-emoji class="g-emoji" alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png"><img class="emoji" alt="heart" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png"></g-emoji> by <a href="/">Sauparna Gupta</a></p>
</div>
{% endblock %}
