body {
    margin-bottom: 3%;
}

nav.bg-blueviolet {
    background-color: #8A2BE2;
}

a.bnbr {
    font-family: 'Krona One', sans-serif, serif;
    font-size: 34px;
    font-weight: 700;
}

a.ni {
    font-size: 25px;
}

a.cur {
    cursor: default;
}

a.title {
    font-family: 'Lobster', sans-serif;
    font-size: 55px;
    margin-bottom: 0px;
    color: #4e1287;
}

p.title {
    font-family: 'Lobster', sans-serif;
    font-size: 55px;
    margin-bottom: 0px;
    color: #4e1287;
    cursor: default;
}

article.text {
    cursor: default;
    font-size: 20px;
}

time.dt {
    font-family: cursive;
    cursor: default;
    float: right;
}

div.time-row {
    height: 26px;
}

div.title-row {
    line-height: 1.7rem;
}

div.title-row.pdet {
    padding-bottom: 14px;
}

div.card-header.card-srow {
    min-height: 67.2px;
    background-color: #d9b3ff;
}

div.col-11.col-sm-11 {
    padding: 0px;
}

div.opt {
    margin-top: 44px;
    padding: 0px;
}

div.del-edit {
    margin: 8px 0px;
}

button.ansh {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 4px;
}

i.sham {
    color: #333333;
}

button.btn a {
    text-decoration: none;
}

button.btn-light {
    margin-top: 0px;
    background-color: #e6e6e6 !important;
}

button.btn-light:hover {
    background-color: #cccccc !important;
}

ul.dot {
    padding-left: 0px;
    margin-bottom: 0px;
    /* float: right; */
}

ul.dot li {
    list-style: none;
    margin: 0px 2px;
}

ul.dot li.show {
    margin-right: 0px;
}

ul.dot li.hide {
    display: none;
}

ul.dot li.hide.actv {
    /* float: none; */
}

button.afrm a {
    text-decoration: none;
    color: white;
}

/* p.footsy {
    margin-top: 3%;
    margin-bottom: 3%;
}

p.footsy.posd {
    position: fixed;
    bottom: 0;
    left: 40%;
}
.footer-moto{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    bottom: 1%;
    width: 300px;
    height: 30px;
    text-align: center;
    font-size:1vw;
}
 */
@media screen and (max-width: 572px) {

    div.shh {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    div.shrink {
        max-width: 30rem;
    }

    .mx-auto {
        margin-left: 2.5% !important;
        margin-right: 0% !important;
    }

    button.ansh {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        padding-bottom: 6px;
    }

    a.title {
        line-height: 3.2rem;
    }

    p.title {
        line-height: 3.2rem;
    }
}
