body {
    margin-bottom: 3%;
}

nav.bg-blueviolet {
    background-color: #8A2BE2;
}

a.bnbr {
    font-family: 'Krona One', sans-serif, serif;
    font-size: 35px;
    font-weight: 700;
}

a.ni {
    font-size: 25px;
}

a.cur {
    cursor: default;
}

a.title {
    font-family: 'Lobster', sans-serif;
    font-size: 55px;
    margin-bottom: 0px;
    color: black;
}

p.title {
    font-family: 'Lobster', sans-serif;
    font-size: 55px;
    margin-bottom: 0px;
    color: black;
    cursor: default;
}

article.text {
    cursor: default;
    font-size: 20px;
}

time.dt {
    font-family: cursive;
    cursor: default;
    float: right;
}

div.time-row {
    height: 26px;
}

div.card-srow {
    padding-top: 2px;
    padding-bottom: 0px;
}

div.col-11.col-sm-11 {
    padding: 0px;
}

div.opt {
    margin-top: 44px;
    padding: 0px;
}

div.del-edit {
    margin: 8px 0px;
}

button.ansh {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 4px;
}

i.sham {
    color: #333333;
}

button.btn a {
    text-decoration: none;
}

button.btn-light {
    margin-top: 0px;
    background-color: #e6e6e6 !important;
}

button.btn-light:hover {
    background-color: #cccccc !important;
}

ul.dot {
    padding-left: 0px;
    margin-bottom: 0px;
    /* float: right; */
}

ul.dot li {
    list-style: none;
    margin: 0px 2px;
}

ul.dot li.show {
    margin-right: 0px;
}

ul.dot li.hide {
    display: none;
}

ul.dot li.hide.actv {
    /* float: none; */
}

button.afrm a {
    text-decoration: none;
    color: white;
}
